#header{
	background-color: #00A859;
}

#header2 {
	position: relative;
	min-width: 100vw;
	min-height: 95vh;
	background-color: #ddd;
    z-index: 0;
}
#header2 .box {
	position: absolute;
	content: '';
	width: 20%;
	height: 50%;
	top: 15%;
	left: 50%;
	transform:translate(-30%, 0%);
    z-index: 1;
    border: 10px solid #000;
}
#header2 img {
	position: absolute;
	top: 0%;
	/* left: 20%; */
    height: 100%;
    width: 100%;
	z-index: 3;
}
#header2 .action {
	position: absolute;
	top: 10%;
	left: 80%;
	transform:translate(-50%,-50%);
    text-align: center;
    z-index: 4;
    padding-right: 25px;
    padding-left: 25px; 
}

footer{
    width: 100%;
}

#footer{
	background-color: #00A859;
	color: white
}

#body-home{
	margin: 0;
	padding: 0;
	background-image: url('../img/home2.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.user_card {
	height: 400px;
	width: 350px;
	
	margin-top: auto;
	margin-bottom: auto;
	background: #ffffffe5;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	height: 150px;
	width: 150px;
	top: -75px;
	border-radius: 50%;
	background: #00A859;
	padding: 1px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.932);
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #00A859 !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #00A859 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #00A859 !important;
}

progress {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	height: 20px;
	margin-top: 1px;
	margin-left: -200px;
	width: 1440px;
	
  }
  progress::-webkit-progress-bar {
	background: #ccc;
	box-shadow: inset 0px 0px 10px 5px #aaa;
	border-radius: 0px;
  }
  progress::-webkit-progress-value {
	background-image: repeating-linear-gradient(45deg, #00A859, #00A859 8px, #00A859 8px, #00A859 16px);
	border-radius: 0px;
  }
  progress::before {
	position: absolute;
	left: 10%;
	display: block;
	margin: 5px;
	font: caption;
	font-size: 20px;
	color: #FF7799;
  }


.zoom {
	padding: 50px;
	transition: transform .2s;
	/*width: 200px;
	height: 200px;*/
	margin: 0 auto;
}
  
.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}





