#header{
	background-color: #00A859;
}

#header2 {
	position: relative;
	min-width: 100vw;
	min-height: 95vh;
	background-color: #ddd;
    z-index: 0;
}
#header2 .box {
	position: absolute;
	content: '';
	width: 20%;
	height: 50%;
	top: 15%;
	left: 50%;
	transform:translate(-30%, 0%);
    z-index: 1;
    border: 10px solid #000;
}
#header2 img {
	position: absolute;
	top: 0%;
	/* left: 20%; */
    height: 100%;
    width: 100%;
	z-index: 3;
}
#header2 .action {
	position: absolute;
	top: 10%;
	left: 80%;
	transform:translate(-50%,-50%);
    text-align: center;
    z-index: 4;
    padding-right: 25px;
    padding-left: 25px; 
}

footer{
    width: 100%;
}

#footer{
	background-color: #00A859;
	color: white
}

#body-home{
	background-image: url('../img/home2.png')
}

#login{
	margin-top: -13%;
}

#sendlogin{
	width:100%;
	border-color: #00A859;
	background-color: #00A859;
}

#img-card{
	margin-left: 50px;
	margin-top: 10px;
	width: 200px;
	height: 72px;
}

.card{
	height: 40%;
}