{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <div class="album py-12">
    <progress value="50" max="100"></progress>
    <h1>Arena</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="">
          <img class="zoom card-img-top" src= "{% static "img/escola1.png" %}" alt="Card image cap">
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a href="">
          <img class="zoom card-img-top" src= "{% static "img/escola2.png" %}" alt="Card image cap">
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a href="">
          <img class="zoom card-img-top" src= "{% static "img/escola3.png" %}" alt="Card image cap">
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>

<a id="btn" href="{% url 'jogo:nome' %}" class="btn btn-success active" role="button" aria-pressed="true">Voltar</a> 
<a id="btn" href="{% url 'jogo:ano' %}" class="btn btn-success active" role="button" aria-pressed="true">Proximo</a>

{% endblock %}