{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<h1>Nome</h1>
<div class="album 4">
    <progress value="25" max="100"></progress>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="">
                <img class="zoom2 card-img-top" src= "{% static "img/fig1.png" %}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
            <div class="col">
                <a href="">
                <img class="zoom2 card-img-top" src= "{% static "img/fig2.png" %}" alt="Card image cap">
                </a>
                <div class="card-body text-center">
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Insira seu nome">
            </div>
        </form>
    </div>
</div>


<a id="btn" href="{% url 'jogo:home' %}" class="btn btn-success active" role="button" aria-pressed="true">Voltar</a> 
<a id="btn" href="{% url 'jogo:arena' %}" class="btn btn-success active" role="button" aria-pressed="true">Proximo</a>

<progress value="25" max="100"></progress>
    <form action="{% url 'jogo:Cadnome' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp" placeholder="Seu Nome">
            <small id="nomeHelp" class="form-text text-muted">Seu nome completo</small>
        </div>
        <div class="form-group">
            <label for="nick">Nick:</label>
            <input type="text" class="form-control" id="nick" name="nick"  placeholder="Seu nome campeão">
        </div>
     
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
            <label for="senha">Redigite</label>
            <input type="password2" class="form-control" id="senha2" name="senha2" placeholder="Informe sua senha">
        </div>
            
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}