{% extends 'base.html' %}

{% block content %}
<progress value="25" max="100"></progress>
    <form action="{% url 'jogo:Cadnome' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nomeHelp" placeholder="Seu Nome">
            <small id="nomeHelp" class="form-text text-muted">Seu nome completo</small>
        </div>
        <div class="form-group">
            <label for="nick">Nick:</label>
            <input type="text" class="form-control" id="nick" name="nick"  placeholder="Seu nome campeão">
        </div>
     
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
            <label for="senha">Redigite</label>
            <input type="password2" class="form-control" id="senha2" name="senha2" placeholder="Informe sua senha">
        </div>
            
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}